/* Media Queries for screens with max-width of 600px */
@media (max-width: 600px) {
    .navigation-container {
        margin-left: 0;
        text-align: center;
    }

    .navigation-bar {
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navigation-bar li {
        margin: 10px 0;
    }

    .line, .box {
        width: 100%;
        top: 0;
        height: 1px;
        background-color: rgb(4, 1, 7);
    }

    .profile-pic {
        height: 300px;
        margin-left: 0;
        width: 100%;
    }

    .profile-container {
        margin-left: 0;
        text-align: center;
    }

    .button-container {
        margin: 20px 0;
    }

    .profile-container .button-1, 
    .profile-container .button-2 {
        display: block;
        margin: 10px auto;
    }

    #social-icons {
        margin-top: 20px;
        text-align: center;
    }

    #social-icons .icon-1, 
    #social-icons .icon-2 {
        margin: 0 10px;
    }

    .arrow-1, .arrow-2, .arrow-3, .arrow-4 {
        display: none;
    }

    #about {
        padding: 10px;
        margin-top: 0;
    }

    .profile-pic-2 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .experience-details-container, 
    .education-details-container {
        margin: 20px auto;
        width: auto;
        padding: 10px;
    }

    .about-content {
        margin: 20px auto;
        text-align: center;
        font-size: medium;
    }

    .frontend-container {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .html-head, .css-experience {
        margin: 10px auto;
        text-align: center;
    }

    .Projects {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .projects-container {
        flex-direction: column;
        margin: 20px 0;
    }

    .project-1, .project-2, .project-3 {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    }

    .github, .live-demo {
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .contact-information-container {
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
    }

    .contact-info-container {
        margin: 10px auto;
        text-align: center;
    }

    .contact-info-container img {
        display: block;
        margin: 0 auto;
    }

    .email, .linkedin {
        font-size: 18px;
    }
}
